In [1]:
import pandas as pd

In [3]:
pwd

u'G:\\Machine-Learning-Using-Python\\2 Panda'

In [5]:
pd.read_csv('example.csv')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [6]:
df = pd.read_csv('example.csv')

In [7]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [8]:
df.to_csv('My_output')

In [9]:
pd.read_csv('My_output')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [10]:
df.to_csv('My_output1',index=False)

In [11]:
pd.read_csv('My_output1')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [12]:
#pip install xlrd    to use in cmd

In [13]:
pd.read_excel('Excel_Sample.xlsx',sheetname='Sheet1')  #pip install xlrd

ImportError: Install xlrd >= 0.9.0 for Excel support

In [14]:
 df.to_excel('Excel_Sample2.xlsx',sheete_name='NewSheet') ##pip install xlrd  to create 
    new xlsx

TypeError: to_excel() got an unexpected keyword argument 'sheete_name'

In [15]:
data=pd.read_html('https://www.fdic.gov/bank/individual/failed/banklist.html')

ImportError: lxml not found, please install it

In [16]:
from sqlalchemy import create_engine

ImportError: No module named sqlalchemy