In [5]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [6]:
outside=['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [7]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [8]:
df

             A         B
G1 1 -0.053985  0.747272
   2 -0.444200  0.490576
   3  1.163665  0.988243
G2 1  1.795912  1.221697
   2 -0.212628  1.417774
   3  0.450715  1.313495

In [9]:
df.loc['G1']

          A         B
1 -0.053985  0.747272
2 -0.444200  0.490576
3  1.163665  0.988243

In [12]:
df.loc['G1'].loc[1]

A   -0.053985
B    0.747272
Name: 1, dtype: float64

In [16]:
#df.index.names --- >FrozenList([None, None])
df.index.names=['Groups','Num']

In [17]:
df

                   A         B
Groups Num
G1     1   -0.053985  0.747272
       2   -0.444200  0.490576
       3    1.163665  0.988243
G2     1    1.795912  1.221697
       2   -0.212628  1.417774
       3    0.450715  1.313495

In [20]:
df.loc['G2'].loc[2]['B']

1.4177738179199435

In [22]:
df.xs('G1')

            A         B
Num
1   -0.053985  0.747272
2   -0.444200  0.490576
3    1.163665  0.988243

In [24]:
df.xs(1,level='Num')

               A         B
Groups
G1     -0.053985  0.747272
G2      1.795912  1.221697