In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
labels=['a','b','c']
my_data=[10,20,30]
arr = np.array(my_data)
d={'a':10,'b':20,'c':30}

In [8]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [9]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [12]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [13]:
d

{'a': 10, 'b': 20, 'c': 30}

In [14]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [15]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [17]:
pd.Series(data=[sum,len])

0    <built-in function sum>
1    <built-in function len>
dtype: object

In [19]:
ser1 = pd.Series([1,2,3,4],["USA",'Germany','India','Nepal'])

In [20]:
ser1

USA        1
Germany    2
India      3
Nepal      4
dtype: int64

In [21]:
ser2  = pd.Series([1,2,5,4],['USA','Germany','Itlay','Japan'])

In [22]:
ser2

USA        1
Germany    2
Itlay      5
Japan      4
dtype: int64

In [31]:
ser1['India']

3

In [28]:
ser3 = pd.Series(data=labels)

In [29]:
ser3

0    a
1    b
2    c
dtype: object

In [33]:
ser1+ser2  #integer convert into float

Germany    4.0
India      NaN
Itlay      NaN
Japan      NaN
Nepal      NaN
USA        2.0
dtype: float64